@import "./utils.scss";

@mixin flex-center {
  @apply flex items-center justify-center;
}

@mixin absolute-position($top, $right, $bottom, $left) {
  @apply absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    @apply w-[8px] bg-black;
    &-thumb {
      @apply bg-[#606060] rounded-[8px];
      &:hover {
        @apply bg-[#888];
      }
    }
  }
}

html,
body {
  @apply scroll-smooth overflow-x-hidden w-full;
  @include scrollbar;
}

html {
  @apply selection:bg-[#ffa442] selection:text-black;
}

body {
  @apply bg-no-repeat bg-cover bg-[#0e100f];
  font-family: $quicksand;
}

.header {
  @apply text-text-color-1 backdrop-blur-sm bg-black/25 shadow-sm w-full grid grid-cols-2 items-center py-6 px-20 fixed top-0 z-50 duration-500;
}

.heroSection {
  @apply overflow-hidden relative text-text-color-1 h-[90vh] w-[100vw] px-20 grid grid-cols-[55%_35%] items-center;
}
.heroHeadingContainer {
  @apply flex flex-col gap-5;
}
.heroBtnsDiv {
  @apply flex items-center justify-between px-[10%] -mt-5;
}

.heroSvg,
.myImage {
  @include absolute-position(auto, -10%, 40%, auto);
  transform: translateY(50%);
}

.myImage {
  @apply w-[40vw] right-[5%] bottom-[55%];
}

.skill {
  @apply w-[60vw] bg-gray-900 gap-1 py-2 text-text-color-1 rounded-3xl mx-auto -translate-y-6 flex flex-col items-center;
  &sListContainer {
    @apply w-full flex items-center justify-evenly;
  }
  &_sub_div {
    @apply text-text-color-1 w-[5.1vmax] h-[5.1vmax] rounded-xl p-[0.5vmax] overflow-hidden cursor-pointer;
    @include flex-center;
    transition: transform 0.3s;
    &:hover > .skillTextOverlay {
      @apply opacity-100;
    }
  }
}

.skillTextOverlay {
  @apply absolute w-full h-full opacity-0 bg-[rgba(0,0,0,0.8)] transition-opacity duration-300;
  @include flex-center;
}

.skillsText {
  &PC,
  &Mobile {
    @apply font-bold text-center;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  }
  &PC {
    @apply text-[14px];
  }
  &Mobile {
    @apply absolute text-[6px];
  }
}

.projectContainer {
  @apply w-[100vw] px-20 py-24 flex items-center justify-between gap-28 relative;
}

.projectInfoDiv {
  @apply flex flex-col gap-5 z-10 w-[45vw];
  &BtnContainer {
    @apply flex gap-24 items-center mx-auto mt-5;
  }
}

.imageContainer {
  @apply opacity-100 mx-20 p-5 border-gray-600 border-2 rounded-lg overflow-y-hidden flex gap-10 h-[35vh];
  @include scrollbar;
}

.containerImage {
  @apply cursor-pointer rounded-lg z-10 opacity-100;
}

.aboutMe {
  @apply text-text-color-1 px-20;
  &SubDiv {
    @apply flex items-center gap-14 mt-16;
  }
  &InfoContainer {
    @apply rounded-3xl p-7 flex flex-col items-center gap-5 bg-gray-900 hover:invert selection:bg-[#005bbd] selection:text-white;
    transition: filter 0.3s;
  }
}

.contactMeSection {
  @apply text-text-color-1 p-20;
  &Paragraph {
    @apply text-justify my-10;
  }
}

.socialMediaCardContainer {
  @apply my-10 grid grid-cols-4 gap-10;
}

.socialMediaCard {
  @apply rounded-3xl py-8 px-10 flex flex-col items-center self-center justify-self-center gap-10 bg-gray-900 w-[15vw] hover:invert;
  transition: filter 0.3s;
}

.contactForm {
  @apply w-[100vw] h-[100vh] text-text-color-1 relative flex flex-col items-center;
}

.formAndDesc {
  @apply grid grid-cols-2 gap-10 px-20 z-10;
  > div {
    @apply self-center justify-self-center;
  }
}

.ThanksDiv {
  @apply text-text-color-1 flex flex-col items-center p-20 opacity-100;
  > img {
    @apply w-[20vw] h-[15vh];
  }
  > p {
    @apply pt-20;
  }
}

.regardsDiv,
.topBtnDiv {
  @apply w-full flex items-center justify-end pt-10 px-28;
}

#copyrightDiv {
  @apply text-text-color-1 bg-gray-800 m-0 text-sm py-4 px-20 flex items-center justify-between;
}

#developerTxt {
  @apply text-xs;
}

.image-container {
  @apply overflow-hidden relative h-[240px] w-[420px] rounded-[15px];
}

.projectImage {
  @include absolute-position(0, auto, auto, 0);
  @apply h-full object-cover;
}

.loadingName {
  font: 900 3rem $quicksand;
  margin: 1px;
}

#image-viewer {
  @include absolute-position(0, auto, auto, 0);
  @apply fixed z-[100];
  > div {
    @extend #image-viewer;
    @apply w-[100vw] h-[100vh] bg-[rgba(0,0,0,0.8)] overflow-auto;
    @include flex-center;
    > img {
      @apply block w-[80%] h-[80%] max-w-[800px] object-contain;
      animation: showImage 0.5s;
    }
  }
}

@keyframes showImage {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#close {
  @include absolute-position(15px, 35px, auto, auto);
  @apply text-text-color-1 text-[40px] duration-300 cursor-pointer;
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.content-wrapper {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.content-wrapper.loaded {
  opacity: 1;
}
