@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Quicksand:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./utils.scss";

body {
  overflow-x: hidden;
  width: 100vw;
  font-family: $quicksand;
  &::-webkit-scrollbar {
    @apply w-[8px] bg-black;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-[#606060] rounded-[8px];
  }
  &::-webkit-scrollbar-thumb:hover {
    @apply bg-[#888];
  }
}

.header {
  @apply text-white bg-transparent w-full grid grid-cols-2 items-center py-6 px-20 sticky top-0 z-50 duration-500;
}

.heroSection {
  @apply overflow-hidden relative text-white h-[90vh] w-[100vw] px-20 grid grid-cols-[55%_35%] items-center;
}
.heroHeadingContainer {
  @apply flex flex-col gap-5;
}
.heroBtnsDiv {
  @apply flex items-center justify-center gap-10 pr-20 -mt-5;
}

.heroSvg {
  @apply w-[70vw] absolute right-[-10%] bottom-[50%];
  transform: translateY(50%);
}
.myImage {
  @apply w-[40vw] absolute right-[5%] bottom-[55%];
  transform: translateY(50%);
}

.skill {
  @apply w-[60vw] bg-gray-900 gap-1 py-2 text-white rounded-3xl mx-auto -translate-y-6 flex flex-col items-center;
}
.skillsListContainer {
  @apply w-full flex items-center justify-evenly;
}
.skill_sub_div {
  @apply text-white w-[5vmax] h-[5vmax] rounded-xl p-[0.5vmax] overflow-hidden flex items-center justify-center hover:invert;
  transition: filter 0.3s;
}

.skillsText {
  @apply hidden;
}

.projectContainer {
  @apply w-[100vw] px-20 py-24 flex items-center justify-between gap-28 relative;
}

.projectInfoDiv {
  @apply flex flex-col gap-5 z-10 w-[45vw];
}

.projectInfoDivBtnContainer {
  @apply flex gap-24 items-center mx-auto mt-5;
}

.imageContainer {
  @apply mx-20 p-5 border-gray-600 border-2 rounded-lg overflow-y-hidden flex gap-10 h-[35vh];
}

.containerImage {
  @apply cursor-pointer rounded-lg z-10;
}

.aboutMe {
  @apply text-white px-20;
}

.aboutMeSubDiv {
  @apply flex items-center gap-14 mt-16;
}

.aboutMeInfoContainer {
  @apply rounded-3xl p-7 flex flex-col items-center gap-5 bg-gray-900 hover:invert;
  transition: filter 0.3s;
}

.contactMeSection {
  @apply text-white p-20;
}
.contactMeParagraph {
  @apply text-justify my-10;
}
.socialMediaCardContainer {
  @apply my-10 grid grid-cols-4 gap-10;
}
.socialMediaCard {
  @apply rounded-3xl py-8 px-10 flex flex-col items-center self-center justify-self-center gap-10 bg-gray-900 w-[15vw] hover:invert;
  transition: filter 0.3s;
}

.contactForm {
  @apply w-[100vw] h-[100vh] text-white relative flex flex-col items-center bg-center bg-cover;
}
.topPara {
  display: none;
}
.formAndDesc {
  @apply grid grid-cols-2 gap-10 px-20 z-10;
  > div {
    @apply self-center justify-self-center;
  }
}

.ThanksDiv {
  @apply text-white flex flex-col items-center p-20;
  > img {
    @apply rounded-[50px] w-[20vw] h-[15vh];
  }
  > p {
    @apply pt-20;
  }
}
.regardsDiv,
.topBtnDiv {
  @apply w-full flex items-center justify-end pt-10 px-28;
}
#copyrightDiv {
  @apply text-white bg-gray-800 m-0 text-sm py-4 px-20 flex items-center justify-between;
}
#developerTxt {
  @apply text-xs;
}

// For Image inside Project Container
.image-container {
  overflow: hidden;
  position: relative;
  height: 240px;
  width: 420px;
}

.projectImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

// Loading Screen
.loadingName {
  font: 900 3rem $quicksand;
  margin: 1px;
}

// Images Container Scrollbar customization of a Project
.imageContainer::-webkit-scrollbar {
  @apply h-[8px] mb-[4px];
}
.imageContainer::-webkit-scrollbar-thumb {
  @apply bg-[#606060] rounded-[8px];
}
.imageContainer::-webkit-scrollbar-thumb:hover {
  @apply bg-[#888];
}

//For Image Viewer

#image-viewer {
  @apply fixed top-0 left-0 z-[100];
  > div {
    @apply fixed top-0 left-0 w-[100vw] h-[100vh] bg-[rgba(0,0,0,0.8)] overflow-auto flex items-center justify-center;
    > img {
      @apply block w-[80%] h-[80%] max-w-[800px] object-contain;
      animation: showImage 0.5s;
    }
  }
}

@keyframes showImage {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#close {
  @apply absolute top-[15px] right-[35px] text-white text-[40px] duration-300 cursor-pointer;
}

#close:hover,
#close:focus {
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .viewer {
    width: 100%;
  }
}
